<!DOCTYPE HTML>
<html>
<head>
    <title>Todo App</title>
</head>
<body>

    <form method="post" action="add">
        <input type="text" name="title" placeholder="Input title">
        <input type="text" name="description" placeholder="Input description">
        <button type="submit">Add user</button>
    </form>

    <div>Todos:</div>
    {{#todos}}
    <div>
        <b>{{id}}</b>
        <span>{{title}}</span>
        <i>{{description}}</i>
    </div>
    {{/todos}}
</body>
</html>